---
interface Props {
	title: string
	slug: string
	location: string
	bathrooms: number | null
	area: number
	rooms: number
	image: string
	floors: number | null
}

const { title, slug, location, bathrooms, area, rooms, image, floors } = Astro.props
---

<div class="property-card bg-white rounded-lg overflow-hidden shadow-lg relative">
	<div class="relative overflow-hidden h-48">
		<img
			src={image}
			alt="Casa moderna"
			class="w-full h-full object-cover transition-transform duration-500 hover:scale-105"
		/>
	</div>
	<div class="p-6">
		<div class="flex justify-between items-start mb-2">
			<h3 class="text-xl font-bold">{title}</h3>
			<!-- <span class="text-[#fe7f32] font-bold">{price}</span> -->
		</div>
		<p class="text-sm text-gray-600 mb-4">
			<i class="fas fa-map-marker-alt text-cornflower-blue mr-2"></i>
			{location}
		</p>
		<div class="flex justify-between text-xs text-gray-500 border-t border-b border-gray-100 py-3 mb-4">
			<span><i class="fas fa-bed text-cornflower-blue mr-1"></i> {rooms} dorm.</span>

			{
				floors != null ? (
					<span>
						<i class="fas fa-building text-cornflower-blue mr-1" /> {floors} piso{floors > 1 ? "s" : ""}
					</span>
				) : (
					<span>
						<i class="fas fa-bath text-cornflower-blue mr-1" /> {bathrooms ?? "-"} baños
					</span>
				)
			}

			<span><i class="fas fa-ruler-combined text-cornflower-blue mr-1"></i> {area} m²</span>
		</div>
		<div class="property-overlay absolute inset-0 bg-midnight-blue/70 flex items-center justify-center">
			<a href={`/propiedades/${slug}`} class="bg-dark-orange hover:bg-accent-dark text-white px-6 py-3 rounded font-bold transition"
				>Ver detalles</a
			>
		</div>
	</div>
</div>

<style>
	.property-card:hover .property-overlay {
		opacity: 1;
		transform: translateY(0);
	}

	.property-card:hover img {
		scale: 1.1;
	}

	.property-overlay {
		transition: all 0.3s ease;
		opacity: 0;
		transform: translateY(20px);
		backdrop-filter: blur(12);
	}
</style>
